<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.PersonalLancer.mybookingfieldtrip">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.PersonalLancer.mybookingfieldtrip.Utility.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logokandriapps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logokandriapps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.PersonalLancer.mybookingfieldtrip.LoginRegister.LoginUser"
            android:theme="@style/Tanpajudul"></activity>
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.LihatJadwal.ListLihatJadwal"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.KonfirmasiPembayaran.DetailKonfirmasi"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.KonfirmasiPembayaran.KonfirmasiPembayaran"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.LihatJadwal.LihatJadwal"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.PaketSusu.PembayaranSusu"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.PaketSusu.InputDataCustSusu"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.PaketSusu.PaketSusu"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.PaketSingkong.PembayaranSingkong"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.PaketSingkong.InputDataCustomers"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.PaketSingkong.PaketSingkong"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.BookingHari.ListPaket"
            android:parentActivityName="com.PersonalLancer.mybookingfieldtrip.MainActivity"
            android:theme="@style/Tanpajudul" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.SplashScreen"
            android:theme="@style/Tanpajudul">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.PersonalLancer.mybookingfieldtrip.MainActivity" />
        <activity
            android:name="com.PersonalLancer.mybookingfieldtrip.LoginRegister.Register"
            android:theme="@style/Tanpajudul" />
    </application>

</manifest>